<form nz-form [formGroup]="postForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Title is required">
      <input nz-input formControlName="title" id="title" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="content">Content</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Content is required">
      <textarea rows="4" nz-input formControlName="title"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" >Test</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Content is required">
      <esb-zone-text></esb-zone-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired>Category</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input a category">
      <input nz-input formControlName="password" id="category" [autocomplete]="autoCom" />
      <nz-autocomplete #autoCom>
        <nz-auto-option *ngFor="let category of categories | async" nzValue="option.id" [nzLabel]="category.name">
          {{ category.name }}
        </nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>
<!--
{{inputValue | json}}
<div class="example-input">
  <input placeholder="input here" nz-input [(ngModel)]="inputValue" [nzAutocomplete]="auto" />
  <nz-autocomplete #auto [compareWith]="compareFun">
    <nz-auto-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option.label">
      {{ option.label }}
    </nz-auto-option>
  </nz-autocomplete>
</div>
-->
