<form nz-form [formGroup]="postForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">Title</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Title is required">
      <input nz-input formControlName="title" id="title" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="category" nzRequired>Category</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input a category">
      <input nz-input formControlName="password" id="category" [autocomplete]="auto" />
      <nz-autocomplete #auto>
        <nz-auto-option *ngFor="let category of categories | async" nzValue="option.id" [nzLabel]="category.name">
          {{ category.name }}
        </nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
          <span>
            Nickname
            <i nz-icon nz-tooltip nzTitle="What do you want other to call you" nzType="question-circle" nzTheme="outline"></i>
          </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname!">
      <input nz-input id="nickname" formControlName="nickname" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>Autocmplete</nz-form-label>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="example-input">
  <input placeholder="input here" nz-input [(ngModel)]="inputValue" [nzAutocomplete]="auto" />
  <nz-autocomplete #auto [compareWith]="compareFun">
    <nz-auto-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option.label">
      {{ option.label }}
    </nz-auto-option>
  </nz-autocomplete>
</div>
