<nz-button-group>
  <button nz-button (click)="addSubtitle()"><i nz-icon nzType="font-size"></i></button>
  <button nz-button ><i nz-icon nzType="bold"></i></button>
  <button nz-button ><i nz-icon nzType="italic"></i></button>
</nz-button-group>
<nz-button-group>
  <button nz-button ><i nz-icon nzType="comment"></i></button>
  <button nz-button ><i nz-icon nzType="code"></i></button>
  <button nz-button ><i nz-icon nzType="link"></i></button>
</nz-button-group>
<textarea rows="4" nz-input #zoneText></textarea>
